{% set news = [
	{"link": "#", "title": "ВНИМАНИЕ Весенняя акция!", "image": "images/news.jpg", "date": "2 августа", "text": "Крафт бумага Елены Ивановой «Красный МАК» и студия свадебной флористики Юлии Корниенко представляет 2-х дневный практический семинар с Вадимом Казанским на площадке ресторана «Мезон». Зимние свадьбы. От букета до интерьера. Место проведения: г. Екатеринбург, ул. Московская,131 Время проведен"},
	{"link": "#", "title": "ВНИМАНИЕ Весенняя акция!", "image": "images/news.jpg", "date": "2 августа", "text": "Крафт бумага Елены Ивановой «Красный МАК» и студия свадебной флористики Юлии Корниенко представляет 2-х дневный практический семинар с Вадимом Казанским на площадке ресторана «Мезон». Зимние свадьбы. От букета до интерьера. Место проведения: г. Екатеринбург, ул. Московская,131 Время проведен"},
	{"link": "#", "title": "ВНИМАНИЕ Весенняя акция!", "image": "images/news.jpg", "date": "2 августа", "text": "Крафт бумага Елены Ивановой «Красный МАК» и студия свадебной флористики Юлии Корниенко представляет 2-х дневный практический семинар с Вадимом Казанским на площадке ресторана «Мезон». Зимние свадьбы. От букета до интерьера. Место проведения: г. Екатеринбург, ул. Московская,131 Время проведен"},
	{"link": "#", "title": "ВНИМАНИЕ Весенняя акция!", "date": "2 августа", "text": "Крафт бумага Елены Ивановой «Красный МАК» и студия свадебной флористики Юлии Корниенко представляет 2-х дневный практический семинар с Вадимом Казанским на площадке ресторана «Мезон». Зимние свадьбы. От букета до интерьера. Место проведения: г. Екатеринбург, ул. Московская,131 Время проведен"}
]%}

<div class="news-block">
	<div class="pattern pattern_grey">
		<div class="news-block__inner page__container">
			<div class="news-block__head">Новости</div>
			<ul class="news-block__list">
				{% for item in news -%}
					<li class="news-block__item">
						<a href="{{ item.link }}" class="news-block__link">
							{% if item.image %}
								<span class="news-block__image">
									<img src="{{ item.image }}" alt="{{ item.title }}" class="news-block__img"/>
								</span>
							{% endif %}
							<span class="news-block__content">
								<span class="news-block__date">{{ item.date }}</span>
								<span class="news-block__title">{{ item.title }}</span>
								<span class="news-block__text">{{ item.text }}</span>
							</span>
							<span class="news-block__more"><span>Подробнее</span></span>
						</a>
					</li>
				{%- endfor %}
			</ul>
			<a href="#" class="news-block__all">Все новости</a>
		</div>
	</div>
</div>