<div class="post">
	<form action="#" method="post" class="form post__form">
		<legend class="form__legend post__legend">Напишите нам</legend>
		<div class="form__row">
			<label class="form__label">Ваше имя</label>
			<input type="text" name="name" class="form__input" />
		</div>
		<div class="form__row form__row_table">
			<div class="form__cell form__cell_50">
				<label class="form__label">ваш телефон</label>
				<input type="text" name="phone" class="form__input" />
			</div>
			<div class="form__cell form__cell_50">
				<label class="form__label">ваша почта</label>
				<input type="text" name="mail" class="form__input" />
			</div>
		</div>
		<div class="form__row">
			<label class="form__label">Название компании</label>
			<input type="text" name="company" class="form__input" />
		</div>
		<div class="form__row">
			<label class="form__label">комментарий</label>
			<textarea name="comment" class="form__textarea"></textarea>
		</div>
		<div class="form__row form__row_center">
<!-- 			<input type="submit" name="submit" value="Отправить" class="form__submit" /> -->
			<a href="#post-success" class="form__submit fancybox-link">Отправить</a>
		</div>
	</form>
</div>